{% extends 'core/base.html'%}

{% load static %}
{%block titulo%}Inicio{%endblock%}



{%block cuerpo%}
    <!-- Cabecera -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-1 mb-lg-0 rounded" src="{% static 'core/img/coding1.jpg'%}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading ">
              <span class="section-heading-upper">Entre ya en la tercera década de la informática</span>
              <span class="section-heading-lower">La informática amiga</span>
            </h2>
            <p class="mb-3">Ya esté pensando en un proyecto web para su empresa o clientes,  o en algun programa de escritorio para su oficina o centro de producción<br>Consúltenos y estudiaremos su caso.<br><br>
          
            </p>
            <div class="intro-button mx-auto">
                       <a class="btn btn-primary btn-xl" href="{% url 'contact' %}">Contáctenos </a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-lg-0 rounded" src="{% static 'core/img/delta.png'%}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-2">

                <span class="section-heading-upper">Amposta<br><small>Terres de l'Ebre</small></span>
                <span class="section-heading-lower">Conócenos</span>
              </h2>
          </div>
        </div>
      </div>
    </section>

  {%endblock%}