{% extends 'core/base.html'%}

{% load static %}
{%block titulo%}Visítanos{%endblock%}
{%block cuerpo%}

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{%static 'core/img/deskb.jpeg' %}" alt="">
        <div class="about-heading-content">
        <div class="row">
          <div class="col-xl- col-lg-10 mx-auto">
            <div class="bg-faded rounded p-4">
              <p class="address ">
               <h2 class="section-heading mb-4 font-weight-bold">Un sitio web vivo y actualizado</h2>
              <h2 class="section-heading mb-4"></h2>
                <h4>Vd mismo podrá cambiar el contenido de su sitio web al instante.</h4>
                  Cuando lo necesite y desde donde lo desee.<br>
                  Podrá actualizar parte o la totalidad de su sitio web.<br><br>
                    <em>Un listado de ofertas,<br>
                    comunicados de empresa,<br>
                    un blog de noticias,<br>
                    ... lo que necesite!</em><br>
                    Rápida y fácilmente desde su sitio web!
                              
                </div><br>
                
      
            </div>
          </div>
        </div></div>
      </div>
    </section>
{%endblock%}
  